DATABASE_URL="YOUR_DATABASE_URL"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR_CLOUD_NAME"
NEXT_PUBLIC_CLOUDINARY_API_KEY="YOUR_CLOUD_API"
CLOUDINARY_API_SECRET="YOUR_CLOUD_API_SECRET"
 
NEXT_PUBLIC_CLOUDINARY_SECURE_DISTRIBUTION="<Your Secure Distribution / CNAME>"
NEXT_PUBLIC_CLOUDINARY_PRIVATE_CDN="<true|false>"

CLOUDINARY_API="YOUR_CLOUDINARY_API"

AUTH_SECRET="YOUR_AUTH_SECRET | RANDOM_SAFE_STRING"

CDN_GITHUB_URL="https://cdn.jsdelivr.net/gh/USERNAME/REPO@BRANCH"

PW_DOMAIN="YOUR_PASSWORD_DOMAIN"
DB_PASSWORD="YOUR_DB_PASSWORD"
DB_CLUSTER_PASSWORD="YOUR_DB_CLUSTER_PASSWORD"

NEXT_PUBLIC_GOOGLE_ANALYTICS_PROPERTY_ID = "YOUR_GOOGLE_ANALYTICS_PROPERTY_ID"
GOOGLE_APPLICATION_CREDENTIALS = "path/to/your/credential.json"
NEXT_PUBLIC_GOOGLE_MAP_API_KEY="YOUR_GOOGLE_MAP_API_KEY"

MUX_TOKEN_ID="YOUR_MUX_TOKEN_ID"
MUX_TOKEN_SECRET="YOUR_MUX_TOKEN_SECRET"